/* Created by: Mr. Coxall
* Created on: Sep 2020
* This file contains the CSS for index.html
*/

body {
  background-color: powderblue;
}

p {
  background-color: #ff00ff;
}

#my-header {
  background-color: rgb(255, 165, 0);
  color: hsl(147, 50%, 47%);
  padding: 40px;
  text-align: center;
}